#top{
    
    background-color:#0C1426;
    font-size: large;
    vertical-align: middle;
}

h2{
    text-align: center;
    color:#C6C6C6;
    background-color:#0C1426;
    
}

a:link{
    color: cornsilk ;
}

a:visited {
    color: darkmagenta;
  }
  
  /* mouse over link */
  a:hover {
    color: fuchsia;
  }
  
  #sections{
      text-align: right;
      vertical-align: middle;
  }

  #quotes{
    background-color: antiquewhite;
    border: 100px purple;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
  }

  .gallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
  }
  
  /*.gallery img {
    width: 300px;
    height: 300px;
  }*/

  .gallery .cats {
    position: relative;
    overflow: hidden;
  }
  
  .gallery.cats img {
    vertical-align: middle;
    
  }
  
  .gallery .caption {
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    transition: transform 0.5s;
    transform: translateY(100%);
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
  }
  
  .gallery .cats:hover .caption {
    transform: translateY(0%);
  }
  
  .gallery img {
    width: 100%;
    border: 2.5px solid white;
  }

  div.menu {
    margin: 60px;
    float: left;
    width: 360px;
  }
  
  /*div.menu:hover {
    border: 1px solid #777;
  }*/
  
  div.menu img {
    width: 100%;
    height: auto;
    border: 2.5px solid white
  }
  
  /*div.name {
    padding: 2px;
    text-align: center;
  }*/

  .btn{
    background-color: sienna;
    color: white;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
    margin:0 auto;
    display:block;
  }

  .button{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
    margin:0 auto;
    display:block;
  }

  .table{
    margin-left: auto;
    margin-right: auto;
  }

  
  div.form
{
    display: block;
    text-align: center;
    text-decoration-color: azure;
    
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: rgb(68, 43, 68);
    
        
}


  
  